.contact .leav{
    rotate: 85deg;
    width:150px;
    position: absolute;
    top: -18px;
    left: 128px;
}

.contact{
    /* width: 90%; */
    margin: auto;

}
.contact .communicatin{
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}
.contact .icon{
    /* padding: 20px; */
    text-align: center;
    color: var(--main-color);
}
.contact .communicatin i{
    font-size: xxx-large;
}
.contact .communicatin .icon p{
    font-weight: 700;
}

@media (max-width: 992px ){
    .contact .leav{
        rotate: 85deg;
    width: 117px;
    position: absolute;
    top: -37px;
    left: 19px;
    }
    .contact .text .h1{
        margin: 0px;
        color: var(--main-color);
        font-size: 39px!important;
        line-height: 17px;
        opacity: 1;
        transform: none;
    }
    .contact .icon{
        font-size: 15px;
    }
    .contact .text{
        max-width:calc(100% - 40px)!important;
        margin: auto;
    }
}